body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    border-left-width: 0.1rem solid black;
  }
  
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding: 6px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .div {
    background-color: #ffffff;                                      
    color: #000000;
    border-top: 1px dashed #000000;
    margin-bottom: 0;
  
  }
  
  .past {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d3d3d3;
    color: black;
    text-align: center;
  }
  
  .present {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ff6961;
    color: black;
    text-align: center;
  }
  
  .future {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #77dd77;
    color: black;
    text-align: center;
  }
  
  .Btn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
    text-align: center;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  